---
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
    <body class="bg-neutral-900 text-white">
        <div class="gradient-background h-10 fixed">top</div>
        <main class="flex flex-col relative mx-auto overflow-hidden pt-32 pb-72 max-w-2xl min-h-screen">
            <div class="h-full w-full">
                <div class="mb-2 font-bold">Article 1</div>
                <div class="mb-10 font-extralight text-xs opacity-80">December 2023</div>
                <img src="https://images.unsplash.com/photo-1682685797366-715d29e33f9d?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="rounded-lg shadow-lg mb-6">
                <p class="font-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia ullam maxime earum quas, officiis deserunt excepturi est maiores laudantium eaque placeat numquam voluptates ut! Pariatur molestiae deserunt ipsam quaerat culpa!
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus sapiente praesentium dolorem cupiditate qui? Nesciunt officiis impedit, dicta tempore facere nisi alias, voluptatem quas excepturi distinctio, ut blanditiis eius veritatis!
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus ullam molestiae corrupti excepturi quaerat consectetur dolores maxime totam sit ad aliquid, illum alias eligendi. Commodi omnis labore explicabo magni quisquam?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit illum quas dignissimos molestias. Voluptate, dolore. Debitis, nostrum quas dolor voluptatem fugit, temporibus cupiditate, voluptates esse ducimus repellat repellendus. Alias, voluptate!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque illo saepe culpa. Quibusdam, esse? Quidem error similique accusantium, nihil, ab aut nam voluptas quae qui eligendi animi maiores delectus consectetur?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum impedit accusantium, quia eveniet autem earum harum facilis totam. Maiores alias delectus corrupti aut nemo quae consequuntur quod ipsam accusantium tempore.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores neque nisi rem beatae, quidem ut obcaecati necessitatibus totam, alias sint ex nulla quam modi dolores repellendus. Velit corrupti quia mollitia.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad asperiores possimus modi aspernatur officiis porro facilis tempora voluptate ipsa dicta, quae blanditiis ratione molestiae sint facere delectus magni accusantium exercitationem.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium neque sequi reiciendis animi recusandae, explicabo veritatis dignissimos doloremque quae, odit et, voluptate ratione dicta quisquam obcaecati! Asperiores eveniet numquam vitae.
                </p>
            </div>
            <div class="bg-blue-500 fixed">List</div>
        </main>
    </body>
    <Footer/>
</html>

