---
import HomeLayout from '../layouts/HomeLayout.astro';
import ArticleCard from '../components/ArticleCard.astro';
---


<HomeLayout title="My Blog">
	<body>
		<div class="flex gap-2 px-3 pt-4">
			<ArticleCard/>
			<ArticleCard/>
			<ArticleCard/>
		</div>
	</body>	
</HomeLayout> 


