---
import { getCollection } from "astro:content";
import HomeLayout from '../layouts/HomeLayout.astro';
import ArticleCard from '../components/ArticleCard.astro';

const allPosts = await getCollection("blog");
---


<HomeLayout title="My Blog">
	<body>
		<div class="flex flex-wrap px-6 gap-3 pt-4">
			{allPosts.map((p) => <ArticleCard blog={p}/>)}
		</div>
	</body>	
</HomeLayout> 


