---
import Footer from '../components/Footer.astro';
import ArticleCard from '../components/ArticleCard.astro';
---

<!doctype html>
<html lang="es">
	<body class="bg-neutral-900 text-white">
		<div class="flex gap-2 px-3 pt-4">
			<ArticleCard/> 
			<ArticleCard/> 
			<ArticleCard/> 
		</div>
		<div class="flex gap-2 px-3 pt-3">
			<ArticleCard/> 
			<ArticleCard/> 
			<ArticleCard/> 
		</div>
		<div class="flex gap-2 px-3 pt-3">
			<ArticleCard/> 
			<ArticleCard/> 
			<ArticleCard/> 
		</div>
		<div class="flex gap-2 px-3 pt-3">
			<ArticleCard/> 
			<ArticleCard/> 
			<ArticleCard/> 
		</div>
	</body>	
	<Footer/>
</html>

