<ul class="flex flex-col gap-3 mt-20">
    <a href="#" class="opacity-55 hover:opacity-100 delay-75 text-sm">Aesthetic Foundation</a>
    <a href="#SecP" class="opacity-55 hover:opacity-100 delay-75 text-sm">Grid System</a>
    <a href="#" class="opacity-55 hover:opacity-100 delay-75 text-sm">Hero Composition</a>
    <a href="#" class="opacity-55 hover:opacity-100 delay-75 text-sm">Visual Rhythm</a>
    <a href="#" class="opacity-55 hover:opacity-100 delay-75 text-sm">Pixelated Iconography</a>
    <a href="#LastP" class="opacity-55 hover:opacity-100 delay-75 text-sm">Accessible Code Blocks</a>
</ul>  