---
import type { CollectionEntry } from 'astro:content';
type Props = {
    blog: CollectionEntry<"blog">; 
};
const { blog } = Astro.props;
const { title, date } = blog.data;
---

<div class=" bg-cover bg-center w-full md:1/3 lg:w-1/4 flex-grow  h-96 rounded-lg relative" style={{ backgroundImage: `url(${blog.data.image})`, backgroundSize: 'cover' }}>
    <div class="absolute flex px-5 bottom-4 justify-between w-full">
        <a href={`/blog/${blog.slug}`} class="text-xl hover:underline underline-offset-4">{title}</a>
        <time class="font-extralight opacity-80" datetime={date.toISOString()}>{date.toLocaleDateString(undefined, {
            year: "numeric",
            month: "long",
            timeZone: "CET",
        })}</time>
    </div>
</div>
