---
import { getEntry } from 'astro:content';

const entry = await getEntry('blog', 'bagira-the-ultimate-guide');
const { headings } = await entry.render();

const scrollToHeading = (headingId: string) => {
  const element = document.getElementById(headingId);

  if (element) {
    element.scrollIntoView({ behavior: 'smooth' });
  }
};
---

<div class="flex flex-col gap-3 mt-10 max-w-40">
  {headings.map((heading, index) => (
    <a class="opacity-55 hover:opacity-100" key={index.toString()} href={`#${heading.slug}`} onClick={() => scrollToHeading(heading.slug)}>
      {heading.text}
    </a>
  ))}
</div>