



<div class="text-white bg-cover w-1/3 h-80 rounded-lg relative" style="background-image: url('/unsplash.webp');">
    <div class="absolute flex px-5 bottom-4 justify-between w-full">
        <a href="/article" class="font-light hover:underline underline-offset-4">Article 1</a>
        <div class="font-extralight opacity-80">December 2023</div>
    </div>
</div>