---
import Footer from "../components/Footer.astro";
import BackButton from "../components/BackButton.astro";
import ShareButton from "../components/ShareButton.astro";
import TableOfContents from "../components/TableOfContents.astro";

const { frontmatter, headings } = Astro.props;

console.log(headings)
---

<html lang="es" class="scroll-smooth">
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Article</title>
    <body class="bg-neutral-900 text-white">
        <div class="bg-gradient-to-t from-transparent to-neutral-900 p-4 h-28 w-full fixed top-0 z-10"></div>
        <main class="flex relative mx-auto overflow-hidden pt-32 pb-72 px-10 max-w-2xl min-h-screen">
            <div style="transform: translate(-280px, 121px);" class="fixed top-0 px-10">
                <BackButton/> 
                <TableOfContents> 
            </div>
            <div class="h-full w-full">
                <div class="flex justify-between">
                    <div>
                        <div class="mb-2 font-bold">{frontmatter.title}</div>
                        <div class="mb-10 font-extralight text-sm opacity-80">
                        <time datetime={frontmatter.date.toISOString()}>{frontmatter.date.toLocaleDateString(undefined, {
                            year: "numeric",
                            month: "long",
                            timeZone: "CET",
                        })}</time> 
                        </div>
                    </div>
                    <ShareButton/> 
                </div>
                <img src={frontmatter.image} alt="" class="rounded-lg shadow-lg mb-6">
                <main class="prose">
                    <slot />  
                </main> 
            </div>
        </main>
    </body>	
    <Footer/>
</html>


<style is:global>
    .prose p + p {
      margin-bottom: 15px;
    }
  
    .prose h1, .prose h2, .prose h3, .prose h4, .prose h5 {
      color: grey;
    }
  
    .prose p, .prose strong, .prose ol, .prose ul, .prose a {
      color: white;
    }
  
    .prose img {
      border-radius: 0.5rem;
    }

    .prose code, .prose pre {
      color: grey;
    }
  
    .astro-code {
      color: orange;
    }
  
    ::-webkit-scrollbar {
      width: 0.75em;
    }
  
    ::-webkit-scrollbar-track {
      background: #262626;
    }
  
    ::-webkit-scrollbar-thumb {
      background: #525252;
      border-radius: 10vh;
    }
  </style>
  