---
import Footer from '../components/Footer.astro';
---


<html lang="es" class="bg-neutral-900 text-white dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Roboto">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>hershel</title>
  </head>
    <slot />
  <Footer/>
</html>


<style is:global>
  :root {
    color-scheme: light dark;
  }



</style>
	


